body {
  height: 100dvh;
  background-color: #161d2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 800px;
  border-radius: 15px;
  padding: 20px;
  background-color: #232d3d;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.name {
  font-family: "Science Gothic", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.counters {
  width: 100%;
  font-family: "Science Gothic", sans-serif;
  display: flex;
  gap: 20px;
}

.counter {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  background-color: #364356;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.counter > span {
  font-size: 1rem;
  font-weight: normal;
}

.board {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  background-color: #161d2e;
}

.text {
  font-family: "Roboto Mono", monospace;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.2);
  user-select: none;
}

.text--current {
  border-radius: 3px;
  background-color: #364356;
  animation: flashingLetter 0.5s forwards infinite alternate;
  padding: 0.3px;
  white-space: pre-wrap;
}

.text--correct {
  color: #ffffff;
}

.text--wrong {
  border-radius: 3px;
  background-color: #ff0000;
  padding: 0.3px;
  white-space: pre-wrap;
  animation: wrongFlashingLetter 0.5s forwards infinite alternate;
}

@keyframes flashingLetter {
  from {
    background-color: #364356;
  }
  to {
    background: none;
  }
}

@keyframes wrongFlashingLetter {
  from {
    background-color: #ff0000;
  }
  to {
    background: none;
  }
}

.reset {
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #2a63ea;
  font-family: "Science Gothic", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
}

.reset:hover {
  transform: scale(1.01);
}

.reset:active {
  transform: none;
}
